@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
}

li, a, button{
    font-family: "Roboto Condensed", "sans-serif";
    font-weight: 500;
    font-size: 16px;
    color: #24252a;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 10%;
}

a:hover {
    color: #21b321;
}

.logo {
    cursor: pointer;
    margin-right: left;
    
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

button{
    margin-right: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 116, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: auto ;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 116, 169, 1);
}
 
body , html {
    height: 100%;
    scroll-behavior: smooth;
}

.container {
    padding-top: 90px;
}

.solv{
    border-radius: 20px;
    width: 480px ;
    height: 302px;
}

.hero-image {
    background-image: url("images/banner01.jpg");
    height: 80%;
    padding: 50px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.img {
    border-radius: 8px;
    height: 50%;
    width: 40%;
    margin: 100px;
}

.logobawah {
    height: 50;
    width: 150;
}



